extends layout

block scripts
  script(type='text/javascript', src='/javascripts/squaregame.js')
  script(type='text/javascript', src='/javascripts/squaregameclient.js')

block content
  h1 Sisyphus
  #square-game-area