extends layout

block scripts
  script(type='text/javascript', src='/javascripts/gamecommon.js')
  script(type='text/javascript', src='/javascripts/gameclient.js')

block content
  h1 Sisyphus
  #game-area