extends layout

block scripts
  script(type='text/javascript', src='/javascripts/chatclient.js')
  script(type='text/javascript', src='/javascripts/game.js')

block content
  h1 Chat client - v0.0.14
  ol#chat
  p Talk:
    input#talk(type='text')
  #game-area(style='position:relative;border:5px solid black;')