extends layout

block scripts
  script(type='text/javascript', src='/javascripts/gamecommon.js')
  script(type='text/javascript', src='/javascripts/circlegame.js')
  script(type='text/javascript', src='/javascripts/circlegameclient.js')

block content
  h1 Sisyphus
  #circle-game-area