doctype 5
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/fakepost.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content